<h1>Editing Prescription Drug</h1>

<%= render 'form', prescription_drug: @prescription_drug %>

<%= link_to 'Show', [@prescription,@prescription_drug] %> |
<%= link_to 'Back', doctor_prescription_prescription_drugs_path(@prescription) %>
